.navbar__link,
.sidebar__link {
  padding: 0.4rem 0.8rem;
  color: var(--heading-color);
  border-bottom: solid 2px transparent;
  text-transform: capitalize;
}
.navbar__link {
  font-size: 1.333rem;
  will-change: color, border-color;
  transition: color 0.4s, border-color 0.4s;
}
.navbar__link:hover,
.navbar__link:focus {
  color: var(--btn-bg-clr);
  border-color: var(--btn-bg-clr);
}
.sidebar__link {
  display: inline-block;
  padding: 0.5rem 0;
  font-size: 1.1rem;
  padding-left: 0;
  padding-right: 0;
}
.sidebar__close {
  font-size: 1.5rem;
  color: var(--heading-color);
  position: absolute;
  top: 2rem;
  right: 2rem;
  border-radius: var(--border-radius);
  will-change: color;
  transition: color 0.4s;
}
.sidebar__close:hover,
.sidebar__close:focus {
  color: var(--btn-bg-clr);
}
.sidebar__show,
.cart {
  font-size: 1.8rem;
  color: var(--heading-color);
}
.cart {
  position: relative;
  padding: 0.5rem;
}
.auth {
  color: var(--green);
  margin-left: 1rem;
}
.cart__count {
  background-color: var(--green);
  padding: 0.2rem;
  color: var(--heading-color);
  font-size: var(--small-text);
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  z-index: 10;
  border-radius: 50%;
}
.cart__remove {
  font-size: 1.3333rem;
}
.hide {
  visibility: hidden;
}
.dropdown {
  position: relative;
  padding: 1rem;
}
.dropdown__list {
  background-color: var(--heading-color);
  color: var(--green);
  width: 120px;
  padding: 1rem;
  position: absolute;
  top: 100%;
  left: -2rem;
  visibility: hidden;
}
.text--big {
  font-size: 1.6rem;
}
.dropdown:hover .dropdown__list {
  visibility: visible;
  z-index: 10;
}
@media all and (min-width: 1200px) {
  .sidebar__show {
    display: none;
  }
  .auth {
    margin-left: 0;
  }
}
